<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mi Blog</title>
</head>
<body>

<h1>Blog Games</h1>
<hr />
<ul>
    <li><a th:href="@{/posts/new}">Crear una publicacion</a></li>
</ul>
<div class="posts-container">
    <div class="post" th:each="post : ${posts}">
        <h2><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">Titulo</a></h2>
        <h5 th:text="'Published at ' + ${post.createdAt}">Fecha de creacion</h5>
        <p th:text="${post.body}">Texto</p>
        <br>
    </div>
</div>
</body>
</html>