<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mi Blog</title>
<script>
    (function verificar() {
       const userBlog = JSON.parse(localStorage.getItem('userBlog'));
       if (userBlog) {
           document.getElementById('datosUsuario').textContent = 'Usuario: ' + userBlog.name + ';
       } else {
           document.getElementById('datosUsuario').textContent = '';
       }
   })();

</script>
</head>
<body>
<p th:if="${userBlog}" th:text="'Has iniciado sesión como ' + ${userBlog.name}"></p>

<h1>Blog Games</h1>
<hr />
<ul>
    <li><a th:href="@{/posts/verificar}">Crear una publicacion</a></li>
</ul>
<div class="posts-container">
    <div class="post" th:each="post : ${posts}">
        <h2><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">Titulo</a></h2>
        <h5 th:text="'Escrito por ' + ${post.userBlog.name}">Usuario</h5>
        <h5 th:text="'Published at ' + ${post.createdAt}">Fecha de creacion</h5>
        <p th:text="${post.body}">Texto</p>
        <br>
    </div>
</div>
<div>
    <ul>
        <li><a th:href="@{/registrar}">Registrarse</a></li>
        <li><a th:href="@{/login}">Acceder</a></li>
    </ul>
</div>
</body>
</html>